<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/project/public/css/styles.css">
</head>
<body>
    <div class="register-form">
        <h1>Register user</h1>
        <form  action="register" method="POST" >
            <label for="user">User name</label>
            <input class="user-name" id="name" name="name" type="text" placeholder="Name">
            <label for="lastname">Lastname</label>
            <input class="user-lastname" id="lastname" name="lastname" type="text" placeholder="Lastname">
            <label for="cedula">Cedula</label>
            <input type="text" class="user-cc" name="cedula" id="cedula" placeholder="Cc">
            <label for="Department">Department</label>
            <input type="text" class="user-Department" name="Department" id="Department" placeholder="Department">
            <label for="city">City</label>
            <input type="text" class="user-city" name="city" id="city" placeholder="City">
            <label for="adress">Adress</label>
            <input type="text" class="user-Dir" name="Direccion" id="Direccion" placeholder="Direccion">
            <label for="email">Email</label>
            <input type="email" class="user-email" name="email" id="email" placeholder="Email">
            <label for="cell">Cell</label>
            <input type="number" class="user-cell" name="celular" id="celular" placeholder="Numero Celular">
            <label for="referred">Referred</label>
            <input type="text" class="user-referido" name="referido" id="referido" placeholder="Referred">
            <label for="rol">Rol</label>
            <input type="number" class="user-rol" name="rol" id="rol" placeholder="Rol">
            <div class="">
            <input  type="save" class="btn-enviar" value="Save User " id="save">
            </div>
        </form>
    </div>
</body>
</html>